# Development files
.git
.github
.idea
node_modules
.gitignore
.npmrc
.npmignore

# Test files
test
test-local.sh

# Demo and examples (keep these in the repo but not in the npm package)
demo
examples

# Build files
publish.sh

# Misc
*.log
.DS_Store
